
.home .intro {
  background: white;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(255, 255, 255, .7), white);

    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 20px;
    z-index: 10;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .25);
       -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .25);
            box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .25);
  }
  .content__text {
    text-align: center;
    margin-top: 20px;
  }
}

.home {
  h1 {
    color: $green;
    font-family: $font-c;
    font-size: calc(20px + 1.2vw);
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: .05rem;
    margin: 0;
  }
  h4 {
    font-weight: bold;
    color: $gray;
    margin: 0;
    margin-bottom: 10px;
    font-size: calc(12px + .6vw);
  }
  h2 {
    color: $green;
    font-size: calc(18px + .8vw);
  }
}
.intro .button {
  margin-top: 40px;
}
.scroll {
  display: block;
  color: $green;
  font-weight: bold;
  margin-top: 40px;
}
.content__image {
  position: relative;
}
.content__imageInner {

  display: flex;
  align-items: center;
  justify-content: center;
  .content__imageWrap {

    &:first-of-type {
      margin-right: 30px;
    }
  }
}

.content__imageAbs {
  @include fit;

  &:after {
    content: '';
  position: absolute;
  left: 0vw;
  top: 0;
  bottom: 0;
  right: 0px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.15);
    background-color: #d9d9d9;
    background-image: url(#{$assets}/blueRidgeMtns.jpg);
    background-size: cover;
    background-position: center;

  }


}
.seltzer__title {

  display: inline-block;
  position: relative;
    &:before {
      content: '';
      position:absolute;
      width: 5px;
      height: 5px;
      top: 50%;
      margin-top: -2px;
      right: 0;
      background: white;
      border-radius: 100%;
    }
    &:after {
      content: '';
      position:absolute;
      width: 5px;
      height: 5px;
      top: 50%;
      margin-top: -2px;
      left: 0;
      background: white;
      border-radius: 100%;
    }

  h3 {
    margin: 0;
    color: white;
    font-family: $font-c;
    font-size: calc(18px + 1vw);
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
  }
}
.panel {
  background-color: $green;


  background-attachment: fixed;
  position: relative;

  h5 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 14px 0;
  }
  .facts__number {
    color: $green;
    background: white;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: inline-flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  img {
    max-width: 60vw;
    margin: 0 auto;
  }
}

.lr, .rl {
  .content__text {
    order: 2;
  }
  .content__image {
    order: 1;
  }
}

.headerSpacer {
  display: block;
  height: 200px;
  width: 100%;
}

#bubblesVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  right: 0;
  min-width: 100%;
  z-index: 1;
}
.cta {
  position: relative;
  padding-bottom: 20px;
  &:after {
    content: '';
    background-image: url(#{$assets}/apples.png);
    background-size: 50%;
    background-position: center;
    opacity: .15;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 960px) {
  .headerSpacer {
    display: block;
    height: 80px;
    width: 100%;
  }
  .home .intro .content__text {
    text-align: left;
    margin-top: 0;
  }
  .content__imageAbs {
    @include fit;
    &:after {
    left: -10vw;
    right: 40px;

    }


  }
  .lr {
    .content__text {
      order: 2;
    }
    .content__image {
      order: 1;
    }
  }
  .rl {
    .content__text {
      order: 1;
    }
    .content__image {
      order: 2;
    }
  }
}
